<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
	<h1>Employee Management System </h1>
	<br /><br />
    <a th:href="@{/createEmployee}" class="btn btn-primary btn-sm mb-3"> Create Employee </a>
	<br /><br />
	<a th:href="@{/getAllEmployee}" class="btn btn-primary btn-sm mb-3"> Get Employee </a>
	</body>
</html>